<nav class="nav navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand mb-0 h1 ml-3 mt-2" routerLink="home">ARCF</span>
  <div class="navbar">
    <ul class="nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-dark" routerLink="home">Inicio</a>
      </li>
      <li ngbDropdown class="nav-item">
        <button class="btn nav-link text-dark" id="dropdownBasic1" ngbDropdownToggle>Redes</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem routerLink="static-mask">Máscara fija</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
