<label for="ip">Ip</label>
<input [formControl]="ip" id="ip">
<label for="mask">/</label>
<input  [formControl]="mask" id="mask">
<p *ngIf="maskDecimal">Máscara decimal: {{maskDecimal.split('.')[0]}}.{{maskDecimal.split('.')[1]}}.{{maskDecimal.split('.')[2]}}.{{maskDecimal.split('.')[3]}}</p>
<br>
<button *ngIf="routers.length === 0" (click)="init()">Crear router</button>
<div *ngFor="let router of routers; let idx = index">
  <p>nombre: <b>{{router.nombre}}</b></p>
  <p><b>Interfaces:</b></p>
  <div *ngFor="let interfaz of router.interfaces">
    <p>Interfaz: {{interfaz.nombre}}</p>
    <p>Máscara: {{interfaz.mask}}</p>
    <p>*Subred: {{interfaz.red.subred}}</p>
    <p>Nombre: {{interfaz.red.nombre}}</p>
    <p>Broadcast: {{interfaz.red.broadcast}}</p>
    <p>Ip Router: {{interfaz.red.ipRouter}}</p>
    <p>Ip Primer Equipo: {{interfaz.red.firstIp}}</p>
    <p>Ip ültimo Equipo: {{interfaz.red.lastIp}}</p>
  </div>
  <p><b>Conexiones:</b></p>
  <div *ngFor="let connection of router.connections">
    <div *ngIf="connection.router">
      <p>- {{connection.router.nombre}}</p>
    </div>
    <div *ngIf="connection.red">
        <p>- {{connection.red.red.nombre}}</p>
    </div>
  </div>
  <button (click)="createAssociatedRouter(idx)">Crear router asociado</button>
  <button (click)="createAssociatedNet(idx)">Crear red de equipos</button>
  <hr>
</div>
